.Form {
  border: none;
  border-bottom: 2px #F19C79 solid; /* Atomic Tangerine for a warm, inviting underline */
}

.Button {
  border: none;
  background-color: #A44A3F; /* Chestnut for a rich, warm background */
  color: #F6F4D2; /* Light Yellow for text */
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #F6F4D2; /* Light Yellow for a softer hover background */
  color: #A44A3F; /* Chestnut for text on hover */
}
