.Owner {
  font-weight: bold;
  color: #A44A3F; /* Chestnut for a warm, bold appearance */
  margin-right: 8px;
}

.Date {
  font-weight: lighter;
  color: #D4E09B; /* Vanilla for a soft, lighter color */
}
